WpfAlmaClient/Connected Services/CrisisUnityService/UnityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UnityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceModel/UnityService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceModel/UnityService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceModel/UnityService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUnity_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUnity_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUnity_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="IUnity_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUnity_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUnity_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_IsUserNameFree_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserNameFree" />
  </wsdl:message>
  <wsdl:message name="IUnity_IsUserNameFree_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserNameFreeResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="IUnity_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_InsertCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCategory" />
  </wsdl:message>
  <wsdl:message name="IUnity_InsertCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_UpdateCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategory" />
  </wsdl:message>
  <wsdl:message name="IUnity_UpdateCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_DeleteCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategory" />
  </wsdl:message>
  <wsdl:message name="IUnity_DeleteCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_IsCtgNameFree_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCtgNameFree" />
  </wsdl:message>
  <wsdl:message name="IUnity_IsCtgNameFree_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCtgNameFreeResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_GetAllCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCities" />
  </wsdl:message>
  <wsdl:message name="IUnity_GetAllCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_InsertCity_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCity" />
  </wsdl:message>
  <wsdl:message name="IUnity_InsertCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCityResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_UpdateCity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCity" />
  </wsdl:message>
  <wsdl:message name="IUnity_UpdateCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCityResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_DeleteCity_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCity" />
  </wsdl:message>
  <wsdl:message name="IUnity_DeleteCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCityResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_GetAllEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEvents" />
  </wsdl:message>
  <wsdl:message name="IUnity_GetAllEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_InsertEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEvent" />
  </wsdl:message>
  <wsdl:message name="IUnity_InsertEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEventResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_UpdateEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEvent" />
  </wsdl:message>
  <wsdl:message name="IUnity_UpdateEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEventResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_DeleteEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEvent" />
  </wsdl:message>
  <wsdl:message name="IUnity_DeleteEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEventResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_IsEventNameFree_InputMessage">
    <wsdl:part name="parameters" element="tns:IsEventNameFree" />
  </wsdl:message>
  <wsdl:message name="IUnity_IsEventNameFree_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsEventNameFreeResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_GetAllPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPosts" />
  </wsdl:message>
  <wsdl:message name="IUnity_GetAllPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPostsResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_InsertPost_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPost" />
  </wsdl:message>
  <wsdl:message name="IUnity_InsertPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPostResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_UpdatePost_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePost" />
  </wsdl:message>
  <wsdl:message name="IUnity_UpdatePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePostResponse" />
  </wsdl:message>
  <wsdl:message name="IUnity_DeletePost_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePost" />
  </wsdl:message>
  <wsdl:message name="IUnity_DeletePost_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePostResponse" />
  </wsdl:message>
  <wsdl:portType name="IUnity">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/GetAllUsers" message="tns:IUnity_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/GetAllUsersResponse" message="tns:IUnity_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/Login" message="tns:IUnity_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/LoginResponse" message="tns:IUnity_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/InsertUser" message="tns:IUnity_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/InsertUserResponse" message="tns:IUnity_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/UpdateUser" message="tns:IUnity_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/UpdateUserResponse" message="tns:IUnity_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/DeleteUser" message="tns:IUnity_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/DeleteUserResponse" message="tns:IUnity_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserNameFree">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/IsUserNameFree" message="tns:IUnity_IsUserNameFree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/IsUserNameFreeResponse" message="tns:IUnity_IsUserNameFree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/GetAllCategories" message="tns:IUnity_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/GetAllCategoriesResponse" message="tns:IUnity_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/InsertCategory" message="tns:IUnity_InsertCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/InsertCategoryResponse" message="tns:IUnity_InsertCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/UpdateCategory" message="tns:IUnity_UpdateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/UpdateCategoryResponse" message="tns:IUnity_UpdateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/DeleteCategory" message="tns:IUnity_DeleteCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/DeleteCategoryResponse" message="tns:IUnity_DeleteCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCtgNameFree">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/IsCtgNameFree" message="tns:IUnity_IsCtgNameFree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/IsCtgNameFreeResponse" message="tns:IUnity_IsCtgNameFree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/GetAllCities" message="tns:IUnity_GetAllCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/GetAllCitiesResponse" message="tns:IUnity_GetAllCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/InsertCity" message="tns:IUnity_InsertCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/InsertCityResponse" message="tns:IUnity_InsertCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/UpdateCity" message="tns:IUnity_UpdateCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/UpdateCityResponse" message="tns:IUnity_UpdateCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/DeleteCity" message="tns:IUnity_DeleteCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/DeleteCityResponse" message="tns:IUnity_DeleteCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/GetAllEvents" message="tns:IUnity_GetAllEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/GetAllEventsResponse" message="tns:IUnity_GetAllEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/InsertEvent" message="tns:IUnity_InsertEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/InsertEventResponse" message="tns:IUnity_InsertEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/UpdateEvent" message="tns:IUnity_UpdateEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/UpdateEventResponse" message="tns:IUnity_UpdateEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/DeleteEvent" message="tns:IUnity_DeleteEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/DeleteEventResponse" message="tns:IUnity_DeleteEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsEventNameFree">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/IsEventNameFree" message="tns:IUnity_IsEventNameFree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/IsEventNameFreeResponse" message="tns:IUnity_IsEventNameFree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/GetAllPosts" message="tns:IUnity_GetAllPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/GetAllPostsResponse" message="tns:IUnity_GetAllPosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/InsertPost" message="tns:IUnity_InsertPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/InsertPostResponse" message="tns:IUnity_InsertPost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePost">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/UpdatePost" message="tns:IUnity_UpdatePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/UpdatePostResponse" message="tns:IUnity_UpdatePost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePost">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnity/DeletePost" message="tns:IUnity_DeletePost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnity/DeletePostResponse" message="tns:IUnity_DeletePost_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUnity" type="tns:IUnity">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUnity/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUnity/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/IUnity/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUnity/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUnity/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserNameFree">
      <soap:operation soapAction="http://tempuri.org/IUnity/IsUserNameFree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/IUnity/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCategory">
      <soap:operation soapAction="http://tempuri.org/IUnity/InsertCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <soap:operation soapAction="http://tempuri.org/IUnity/UpdateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap:operation soapAction="http://tempuri.org/IUnity/DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCtgNameFree">
      <soap:operation soapAction="http://tempuri.org/IUnity/IsCtgNameFree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCities">
      <soap:operation soapAction="http://tempuri.org/IUnity/GetAllCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCity">
      <soap:operation soapAction="http://tempuri.org/IUnity/InsertCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCity">
      <soap:operation soapAction="http://tempuri.org/IUnity/UpdateCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <soap:operation soapAction="http://tempuri.org/IUnity/DeleteCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEvents">
      <soap:operation soapAction="http://tempuri.org/IUnity/GetAllEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEvent">
      <soap:operation soapAction="http://tempuri.org/IUnity/InsertEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <soap:operation soapAction="http://tempuri.org/IUnity/UpdateEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <soap:operation soapAction="http://tempuri.org/IUnity/DeleteEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEventNameFree">
      <soap:operation soapAction="http://tempuri.org/IUnity/IsEventNameFree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPosts">
      <soap:operation soapAction="http://tempuri.org/IUnity/GetAllPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPost">
      <soap:operation soapAction="http://tempuri.org/IUnity/InsertPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePost">
      <soap:operation soapAction="http://tempuri.org/IUnity/UpdatePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePost">
      <soap:operation soapAction="http://tempuri.org/IUnity/DeletePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UnityService">
    <wsdl:port name="BasicHttpBinding_IUnity" binding="tns:BasicHttpBinding_IUnity">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceModel/UnityService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>